{% extends 'base.html' %}
{% block title %}- List{% endblock %}

{% block content %}
    {% for post in photos %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 panel panel-default">
                <p><img src="{{post.photo.url}}" style="width:100%;"></p>
                <div class="video_holder" style="max-width: 400px; max-height: px; margin: 0 auto;display: block">
                    <video width="100%" controls="controls" muted="muted" preload="none" poster="">
                        <source src="{{post.photo.url}}" type="video/mp4">
                    </video>
                </div>

                <button type="button" class="btn btn-xs btn-info">
<!--                    {{post.photo.url}}-->
                    {{post.author.username}}
                </button>
                <p>{{post.text|linebreaksbr}}</p>
                <p class="text-right">
                    <a href="{% url 'photo:photo_detail' pk=post.id %}" class="btn btn-xs btn-success">댓글달기</a>
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
    {% endfor %}
{% endblock %}
